body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("вариант1.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
}

/* Стиль хедера */
.header {
    margin: 0;
    padding: 45px;
    box-sizing: border-box;
    background-color: #FF8F40;
    text-align: center;
    border-bottom: 1px solid transparent; /* Удаляем обычную границу */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Добавляем размытую тень */
}

.header h1 {
    font-size: 70px;
    margin: 0;
    color:white;
}

.header p {
    font-size: 20px;
    margin: 0;
    color:white;
}

        #button-container {
            position: fixed;
            top: 30%;
            height: 66.6%;
            width: 20%;
            background-color: #FFC296;
            overflow-y: auto;
            padding: 10px;
            border-radius: 12px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
            font-size: 16px;
            color: #333;
            
            /* Стиль слайдера прокрутки */
            scrollbar-width: thin;
            scrollbar-color: #FF8F40 #FFC296;
        }

        #button-container::-webkit-scrollbar {
            width: 6px;
            border-radius: 12px;
        }

        #button-container::-webkit-scrollbar-track {
            background: #FFC296;
        }

        #button-container::-webkit-scrollbar-thumb {
            background-color: #FF8F40;
            border-radius: 10px;
        }

        #button-container::-webkit-scrollbar-thumb:hover {
            background-color: #FF915C;
        }

        #button-container span {
            margin-right: 10px; /* Добавляем правый отступ между элементами */
            font-size: 20px; /* Размер текста */
            color: white; /* Цвет текста */
        }




        .my-button {
          display: block;
          width: 90%;
          margin-bottom: 50px;
          display: inline-block;
          padding: 10px 70px;
          background-color: #FF8F40;
          color: white;
          border: none;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          margin: 10px;
          border-radius: 12px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          
          display: flex; /* Add flex display */
          justify-content: center; /* Center horizontally */
          align-items: center; /* Center vertically */
      }

      .my-red-button {
          display: block;
          width: 90%;
          margin-bottom: 50px;
          display: inline-block;
          padding: 10px 70px;
          background-color: #FF8F40;
          color: white;
          border: none;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          margin: 10px;
          border-radius: 12px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          
          display: flex; /* Add flex display */
          justify-content: center; /* Center horizontally */
          align-items: center; /* Center vertically */
      }


        .data-container {
            display: none;
        }

        #content {
            margin-left: 20%;
            height: 66.6%;
            padding: 10px;
        }

        .button-wrapper {
            position: relative;
            padding: 10px;
        }

        .button-text {
            margin-bottom: 10px;
            padding: 10px;
        }

.popup-container {
    display: none;
    position: fixed;
    top: 63%;
    left: 50%;
    height: 66.6%;
    width: 55%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    background-color: #FFC296;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.popup-container p{
  font-size: 20px; /* Размер текста */
  color: white;
}


.order-complete-button {

    background-color: #4CAF50; /* Зеленый цвет для кнопки "Заказ готов" */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.order-failed-button {
    background-color: #FF5733; /* Оранжевый цвет для кнопки "Заказ приготовить не удалось" */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.popup-container:hover .popup-content {
  display: block;
}


.button-back {
          display: block;
          width: 20%;
          margin-bottom: 50px;
          display: inline-block;
          padding: 10px 15px;
          background-color: #FF8F40;
          color: white;
          border: none;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          margin: 10px;
          border-radius: 12px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          float: right;
          display: flex; /* Add flex display */
          justify-content: center; /* Center horizontally */
          align-items: center; /* Center vertically */
}

.timer {
  font-size: 16px;
  font-weight: bold;
  color: red;
}
